.container4{
    background-color: rgb(255, 255, 255);
    border: solid;
    border-width: 3px;
    border-radius: 30px;
    padding: 200px;
    width: 40rem;
    position: absolute;
    margin-left: 8rem;
    height: 7rem;
    margin-top: -4rem;
}
.holder4{
    color: white;
    background-color: #161616;
    font-size: 50px;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-right: 50px;
    border-radius: 20px;
    position: absolute;
    margin-top: -16rem;
    margin-left: 6rem;
}
.input4{
    position: absolute;
    font-size: 25px;
    margin-top: -100px;
    text-align: start;
}
.input4 input{
    border: black;
    width: 35rem;
    height: 4px;
    padding: 1.5rem;
    border-width: 3px;
    border-radius: 10px;
    border: solid;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 3px;
    font-family: custom-font, sans-serif;
}
.input4 a{
    color: #5797EB;
    font-size: 20px;
}

.button4{
    font-size: 25px;
    color: #161616;
    background-color: #cbaafc;
    border-radius: 15px;
    border-color: #8C00FF;
    width: 25rem;
    margin-left: 7.5rem;
    padding: 10px;
}

#left{
    margin-top: 3rem;
    font-size: 20px;
    position: absolute;
    margin-left: -10rem;
}